<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" type="text/css" />
        <title>Todo List</title>
    </head>
    <body>
        <section class="section">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <div class="box">
                        <h1 class="title has-text-centered">
                            Plan_It
                        </h1>
                        <p class="subtitle has-text-centered">
                            Never forget a thing.
                        </p>
                        <div class="tabs">
                            <ul>
                                <li><a href="/addPage">Add task</a></li>
                                <li class="is-active"><a>Pending tasks</a></li>
                            </ul>
                        </div>
                        <ul class="task-list">
                            <%for (let task of taskList){%>
                                <li class="task">
                                    
                                        <div class="task-description">
                                            <input class="is-checkradio" type="checkbox" name="task-checkbox-<%= task._id %>" id='task-checkbox-<%= task._id %>'>
                                            <label for="task-checkbox-<%= task._id %>"><span class='task-name'><%= task.description %></span></label>
                                        </div>
                                        <div class="task-tag">
                                            <span class="tag is-success is-medium">
                                                <%= task.category %>
                                            </span>
                                        </div>
                                    
                                    
                                        <span class='task-due-date'>Due on <%= task.dueDate %></span>
                                        <span class='task-delete' onclick="deleteTask('<%= task._id %>')"><i class="fas fa-trash"></i></span>
                                   
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- <script src="./js/datepicker.min.js"></script>     -->
        <script src="./js/pending.js"></script>
    </body>
</html>
